body {
    background-color: black;
}

.inputGroup{
    width: 45%;
}
.selectedItems{
    background-color: rgb(128, 128, 128, 0.5);
    list-style:none;
    padding:10px;
    border-radius:10px;
}

.selectedItems li {
        border: solid 1px darkslateblue;
        background-color: aliceblue;
        color: darkslateblue;
        padding: 2px 10px;
        border-radius: 10px;
        max-width: fit-content;
}
#Alert.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
